<div class="post-card-space">
  <div class="plane post-card">
    <div class="post-top">
      <img src="{{post['provider'].image}}" alt="">
      <h5>{{post['provider'].title}}</h5>
      <div *ngIf="userId == post['user'].id" class="ml-2">
        <button class="btn btn-sm btn-warning mr-2 my-1" (click)="editPost()">Edit</button>
        <button class="btn btn-sm btn-danger my-1" (click)="openDelete(modalDelete)">Delete</button>
      </div>
      <div class="top-like">
        <i class="fa {{this.like ? 'fa-thumbs-up' : 'fa-thumbs-o-up'}} mr-2" (click)="likePost()"></i>
        <span>{{post.likes.length}}</span>
      </div>
    </div>

    <div class="post-body">
      <div class="post-body-gallery">
        <ngx-gallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
      <div class="post-body-text">
        <div #content class="post-body-content" [ngClass]="{'less': this.hide }" [innerHTML]="post.content"></div>
        <span *ngIf="checkOverflow(content)" role="button" class="hideshow" (click)="showhide()">{{this.hide ? 'მეტი' : 'ნაკლები'}}</span>
      </div>
    </div>

    <div class="post-bottom ">
      <ul class="post-list">
        <li>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
              Share</a></div>
        </li>
        <span class="float-right">{{ post.createdAt | date: 'HH:mm dd/MM/yyyy' }}<i class="fa fa-calendar ml-2"></i></span>
      </ul>
    </div>
  </div>
</div>
<ng-template #modalDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are You Sure?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef4.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <button class="btn btn-warning mr-2" (click)="modalRef4.hide()">Cancel</button>
      <button class="btn btn-danger" (click)="deletePost()">Delete</button>
    </div>
  </div>
</ng-template>