<div class="plane" style="position: relative; z-index: 1;">
  <div>
    <div>
      <h5>{{number}}. {{topic.title}}</h5>
    </div>
    <div>
      {{topic.description}}
    </div>
    <div class="topic-bottom">
      <ul class="topic-list">

        <li class="share">
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
              Share</a></div>
        </li>

        <li class="comments" role="button" (click)="toggelComments()">
          <i class="fa fa-comment fa-2x"></i>
          <span>{{topic.comments}}</span>
        </li>

        <li class="thumbs">
          <i class="fa {{this.like ? 'fa-thumbs-up' : 'fa-thumbs-o-up'}} fa-2x" (click)="likeTopic()" role="button"></i>
          <span>{{topic.likes.sum}}</span>
        </li>

      </ul>
    </div>
  </div>
</div>
<div *ngIf="this.showComments"  class="full-comments" >
    <app-rating-card-commments-list [topicId]="topic.id"></app-rating-card-commments-list>
</div>
